# Python
*.pyc
__pycache__/

# Virtual environment
venv/
env/

# IDE and editor files
.idea/
.vscode/

# Compiled Python files
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pyzw

# Jupyter Notebook
.ipynb_checkpoints/

# zip files
*.zip

# Image and data files
my_data/
